*.pyc
.idea/workspace.xml
*.nc
python/Results/Test_success_rates/
Docs/Poster for Sep-2018/Images/
*.png
*.psd
*.zip
python/Data/Low Centers DB/
python/Results/Maps for daughter lows/
*.pptx
python/Data/Rain Data/class_asaf/
